
<div class="container">



  <!--<div class="row">

    <h1>Administration</h1>

  </div>-->


  <div class="row">
    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Client App Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>

    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Matching Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Data Cleaner Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>

    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Monitoring Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Scoring Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>

    <div class="col col-sm-6 bottom-30">
      <div widget class="card">
        <div class="card-header">
          <span class="text-uppercase">Import Error Log</span>
        </div>

        <div class="card-body widget-body">


        </div>

      </div>
    </div>
  </div>

</div>
